<head>
    <meta charset="utf-8">
    <title>Login / Register Task</title>
    <meta name="description" content="">

     <link rel="stylesheet" href="css/bootstrap.css">
    <!-- User Defined Styles -->
   <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="wrapper" role="main">
        <div id="placeholder-header" ></div>
        <div class="container">
            <div class="row" style="margin-top:20px">
                <div id="placeholder-login"></div>
                <div id="placeholder-register" class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
                <form name="form_register" method="post" action="register.php" role="form">
                <fieldset>
                <h2>Register New User</h2>
                <div class="form-group">
                    <label for="username">User name</label>
                    <input name="username" required="required" id="user_id" type="text" placeholder="User name" class="form-control input-lg">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input name="password" required="required" id="password" type="password" placeholder="Password" class="form-control input-lg">
                </div>
                <div class="form-group" >
                    <label for="password">Password again</label>
                     <input name="password" required="required" id="password" type="password" placeholder="Password again" class="form-control input-lg">
                </div>
                <div class="row submit-box">
                    <input type="submit" value="Register" class="btn btn-lg btn-success btn-block">
                </div>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>
    </div><!-- /.wrapper -->

    <!-- Application Core Scripts -->
    <!-- <script src="app/js/vendor/LAB.min.js"></script> -->
    <script src="app/js/vendor/alertify.min.js"></script>
    <script src="app/js/vendor/sdb_manager.js"></script>
    <!-- end scripts -->

    <!-- User Scripts -->
    <script src="app/js/main.js"></script>
    <!-- end scripts -->
</body>
</html>